body {
  margin: 0px;
  display: flex;
  height: 100vh;
}

#Left {
  flex-basis: 0 1 0.2;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1.5px solid transparent;
  border-image: linear-gradient(#f0f0f0, rgb(69, 175, 218), rgb(85, 124, 240));
  border-image-slice: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#Left__logo {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#Left__logo > p {
  margin: 0px;
  font-size: 24px;
  font-weight: 350;
}
#Left__index1 > ul {
  list-style: none;
  padding-left: 10px;
}
#Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#Main__navbar {
  background: linear-gradient(white, #f0f0f0);
  padding: 15px 15px 3px 15px;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(
    to right,
    #f0f0f0,
    rgb(69, 175, 218),
    rgb(85, 124, 240)
  );
  border-image-slice: 1;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}

#Main__navbar > form {
  background-color: white;
  border: solid 1px rgb(133, 133, 133);
  display: flex;
  align-items: center;
}

#Main__navbar > form > input {
  outline: none;
  border: none;
  margin-left: 5px;
  line-height: 28px;
}

#Main__navbar > form > button {
  background-color: inherit;
  padding-bottom: 0px;
  border: none;
  cursor: pointer;
}

#Main__navbar > form > button > img {
  height: 25px;
  opacity: 0.5;
}
