@keyframes remove {
  0% {
  }

  75% {
    height: 0px;
    line-height: 0px;
    margin: 0px;
    border: 0px;
  }

  100% {
    padding: 0px;
    height: 0px;
    line-height: 0px;
    margin: 0px;
    border: 0px;
  }
}

body {
  margin: 0px;
  display: flex;
  height: 100vh;
}

#Left {
  flex-basis: 0 1 0.2;
  padding: 15px;
  background-color: #f0f0f0;
  border-right: 1.5px solid transparent;
  border-image: linear-gradient(#f0f0f0, rgb(69, 175, 218), rgb(85, 124, 240));
  border-image-slice: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#Left__logo {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

#Left__logo > p,
#Main__content__header > p,
#Main__content__header > p > a {
  margin: 0px;
  font-size: 23px;
  font-weight: 350;
}
#Left__index1 > ul {
  list-style: none;
  padding-left: 2px;
}

#Main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#Main__navbar {
  background: linear-gradient(white, #f0f0f0);
  padding: 15px 15px 3px 15px;
  border-bottom: 1.5px solid transparent;
  border-image: linear-gradient(
    to right,
    #f0f0f0,
    rgb(69, 175, 218),
    rgb(85, 124, 240)
  );
  border-image-slice: 1;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 1;
}

#Main__navbar > form {
  background-color: white;
  border: solid 1px rgb(133, 133, 133);
  display: flex;
  align-items: center;
}

#Main__navbar > form > input {
  outline: none;
  border: none;
  margin-left: 5px;
  line-height: 28px;
}

#Main__navbar > form > button {
  background-color: inherit;
  padding-bottom: 0px;
  border: none;
  cursor: pointer;
}

#Main__navbar > form > button > img {
  height: 25px;
  opacity: 0.5;
}

#Main__content {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#Main__content__header {
  padding: 8px;
  background-color: #f0f0f0;
  text-align: center;
}

#Main__content__article {
  margin: 15px 0px;
  padding: 0px 8px 8px 8px;
  background-color: rgb(240, 208, 167);
}
#Main__content__article__Edit {
  margin: 16px;
  float: right;
  text-decoration: none;
}

#Main__content__article > p {
  margin: 3px;
}

#Main__content__article > h1,
#Main__content__article > h2,
#Main__content__article > h3 {
  margin: 14px 0px;
}

#Main__content__article > h4,
#Main__content__article > h5,
#Main__content__article > h6 {
  margin: 10px 0px;
}

#Main__content__fail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#Main__content__fail > h1 {
  color: red;
  font-size: 50px;
}

#Main__content__fail > p {
  font-size: 25px;
}

#Main__content > center {
  margin-top: 40px;
  padding: 8px;
  font-size: 30px;
  background-color: #cedff2;
}

#Main__content__listcontainer {
  flex-grow: 1;
  background-color: #eef5fb;
  padding-top: 10px;
}
#Main__content__create {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

#Main__content__create > p {
  margin: 8px 0px;
  font-size: 20px;
}

#Main__content__create__input,
#Main__content__create > textarea {
  padding: 10px;
  outline: none;
  border: solid 1px rgb(133, 133, 133);
  border-radius: 5px;
  font-size: 18px;
  width: 95%;
  margin-bottom: 14px;
}

#Main__content__create > textarea {
  flex-grow: 1;
}

#Main__content__create > button {
  color: #fff;
  width: 97%;
  background-color: #0d6efd;
  font-size: 18px;
  padding: 10px 0px;
  border: solid 1px #0d6efd;
  border-radius: 5px;
  transition: background-color 0.25s, border 0.25s, box-shadow 0.25s;
  transition-timing-function: ease-in;
}

#Main__content__create > button:hover {
  background-color: #22b16e;
  border: solid 1px #198754;
  box-shadow: 2px 2px 5px #198754;
}

.Message {
  padding: 10px 7px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  animation-name: remove;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

#Message__remove {
  font-size: 18px;
  background-color: inherit;
  border: none;
  color: #111;
  cursor: pointer;
}

.success {
  color: #0f5132;
  background-color: #d1e7dd;
  border: solid 1px #badbcc;
}

.error {
  color: #842029;
  background-color: #f8d7da;
  border: solid 1px #f5c2c7;
}
