{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Encyclopedia/style.css' %}">
    <title>
        {% block title %} 
        {% endblock %} 
    </title>
</head>
<body>
    <div id = "Left">
        <div id = "Left__logo">
            <a href = "{% url 'Encyclopedia:index' %}">
                <img src = "{% static 'Encyclopedia/Logo.png' %}" height = "100px" alt="Visit The Main Page">
            </a>
            <p>WIKIPEDIA</p>
            The Free Encyclopedia
        </div>
        <div id = "Left__index1">
            <ul>   
                <li><a href="{% url 'Encyclopedia:wiki' reqPage='MAINPAGE' %}">Main page</a></li>
                <li><a href="{% url 'Encyclopedia:content' %}">Contents</a></li>
                <li><a href="{% url 'Encyclopedia:random' %}">Random article</a></li>
                <li><a href="{% url 'Encyclopedia:create' %}">Create new page</a></li>
            </ul>
        </div>
    </div>

    <div id = "Main">
        {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }} Message">{{message}}<button id = "Message__remove">X</button></div>
        {% endfor %}    
        {% endif %}
        <div id = "Main__navbar">
            <form action="{% url 'Encyclopedia:search' %}" method="GET">
                <input type="search" name="q" placeholder="Search Wikipedia">
                <button type="submit"><img src="{% static 'Encyclopedia/search.png' %}" alt=""></button>
            </form>    
        </div>

        <div id = "Main__content">
            <div id = "Main__content__header">
                <p>Welcome to <a href="{% url 'Encyclopedia:index' %}">Wikipedia Clone</a></p>
                <br>
                The free encyclopedia that you can edit.
                <br><br>
                Total Articles present: {% block total %} {% endblock %}
            </div>
          {% block Main__content %}
          {% endblock %}
        </div>
    </div>
</body>
</html>