{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Encyclopedia/style.css' %}">
    <title>
        {% block title %} 
        {% endblock %} 
    </title>
</head>
<body>
    <div id = "Left">
        <div id = "Left__logo">
            <a href = "{% url 'Encyclopedia:index' %}">
                <img src = "{% static 'Encyclopedia/Logo.png' %}" height = "120px" alt="Visit The Main Page">
            </a>
            <p>WIKIPEDIA</p>
            The Free Encyclopedia
        </div>
        <div id = "Left__index1">
            <ul>
                <li><a href="">Main Page</a></li>
                <li><a href="">Contents</a></li>
                <li><a href="">Random article</a></li>
                <li><a href="">Main Page</a></li>
            </ul>
        </div>
    </div>

    <div id = "Main">
        <div id = "Main__navbar">
            <form action="{% url 'Encyclopedia:index' %}" method="post">
                {% csrf_token %}
                <input type="text" name="q" placeholder="Search Wikipedia">
                <button type="submit"><img src="{% static 'Encyclopedia/search.png' %}" alt=""></button>
            </form>    
        </div>

        <div id = "Main__content">
          
        </div>
    </div>
</body>
</html>